<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>nativeStorage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="user; else askName">
    <h1>Hi {{ user.username }}!</h1>
    <ion-button (click)="removeItem()">Remove Me!</ion-button>
  </div>
  <ng-template #askName>
    <h1>Please enter your name!</h1>
    <ion-input [(ngModel)]="username" placeholder="Your Name..."></ion-input>
    <ion-button (click)="setObject()">Save</ion-button>
  </ng-template>
</ion-content>
