<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>nativeHttp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>doing native http get to https://jsonplaceholder.typicode.com</p>
  <hr>
    <ion-list>
        <ion-item *ngFor="let todo of todos">
          <ion-label text-wrap>
            {{todo.title}}
          </ion-label>
          <ion-icon name="checkmark-circle" slot="end" *ngIf="todo.completed; else alert"></ion-icon>
          <ng-template #alert>
            <ion-icon name="alert" slot="end"></ion-icon>
          </ng-template>
        </ion-item>
      </ion-list>
</ion-content>
