<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>appPlugin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="exitApp()">
      Exit App
    </ion-button>

</ion-content>
