<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>statusBar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="changeStatusBar()" color="primary">
        Change StatusBar Style
      </ion-button>
      <ion-button (click)="showStatusBar()" color="primary">
        Show
      </ion-button>
      <ion-button (click)="hideStatusBar()" color="primary">
        Hide
      </ion-button>
      <ion-button (click)="setBackgroundColor()" color="primary">
        Set Background Color
      </ion-button>
</ion-content>
