<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>webPushNotification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="sendNotification()">
      Send Notification
    </ion-button>
</ion-content>
