<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>offlineDetection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Network Status:</h1>
  <p>{{ status }}</p>
  <ion-button *ngIf="!isListening" (click)="startListening()">
    Start Network Listener
  </ion-button>
  <ion-button *ngIf="isListening" (click)="stopListening()">
    Stop Network Listener
  </ion-button>
</ion-content>
