<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>localNotification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-button (click)="createNotification()">Create Local Notification</ion-button> -->
    <h1>Using Service Worker Local Notification</h1>
    <ion-button (click)="swInit()">
      Init
    </ion-button>
    <br/><br/>
    <ion-button (click)="swScheduleNow()">Create Service Worker Notification</ion-button>
    <br/><hr><br/>
    <h1>Using Capacitor Local Notification</h1>
    <ion-button (click)="init()">
      Init
    </ion-button>
    <br/><br/>
    <ion-button (click)="scheduleNow()">
      Schedule Now
    </ion-button>
    <br/><br/>
    <ion-button (click)="scheduleOnce()">
      Schedule in 10 seconds
    </ion-button>
    <br/><br/>
    <ion-button (click)="scheduleRepeatingEvery()">
      Schedule every minute
    </ion-button>
    <br/><br/>
    <ion-button (click)="scheduleRepeatingOn()">
      Schedule when clock matches next minute 
    </ion-button>
    <br/><br/>
    <ion-button (click)="cancelNotification()">
      Cancel Local Notifications
    </ion-button>
    <br/><br/>
    <ion-button (click)="getPending()">
      Get Pending
    </ion-button>
    <br/><br/>
    <div *ngIf="pendingNotifs">
      <div *ngFor="let notif of pendingNotifs.notifications">
        {{toJson(notif)}}
      </div>
    </div>
</ion-content>
