<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>webGL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-xs class="border ion-text-center">
        <div>Main Thread</div>
        <app-spinning-cube></app-spinning-cube>
          <ion-button size="small" fill="outline" (click)="busyMe()">{{buttonMainText}}</ion-button>
      </ion-col>
      <ion-col size="12" size-xs class="border ion-text-center">
        <div>Worker Thread</div>
          <div *ngIf="!offscreenAvailable" >
            Your browser does not support OffscreenCanvas
          </div>
        <canvas id="threadCanvas" #threadCanvas width="200" height="200"></canvas>
        <div>
          <ion-button size="small" fill="outline" (click)="busyThread()">{{buttonWorkerText}}</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="busyMe()">
        Busy!
      </ion-fab-button>
    </ion-fab> -->
</ion-content>
