<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>cameraCanvas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card></ion-card>
  <ion-card>
    <canvas #canvas></canvas>
      <ion-card-header>
      <ion-card-title>Stream on Canvas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card> 

</ion-content>
