<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>imageCache</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="image-list">
        <div *ngFor="let item of items">
          <p>Url {{item.url}}</p>
          <!-- <img [src]="item.url"/> -->
          <cached-image [src]="item.url"></cached-image>
        </div>
      </div>
</ion-content>
