<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>offscreenCanvas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
              <!-- <canvas id="mainCanvas" #mainCanvas width="300" height="300"></canvas> -->
    <ion-grid>
        <ion-row>
          <ion-col size="12" size-xs class="border ion-text-center">
            <div>
              <div> Main Thread </div>
              <canvas id="mainCanvas" #mainCanvas width="200" height="200"></canvas>
            </div>
          </ion-col>
          <ion-col size="12" size-xs class="border ion-text-center">
            <div>
              <div>Worker Thread</div>
              <div *ngIf="!offscreenAvailable" >
                Your browser does not support OffscreenCanvas
              </div>
              <canvas id="threadCanvas" #threadCanvas width="200" height="200"></canvas>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-fab vertical="bottom" horizontal="center" slot="fixed">
          <ion-fab-button (click)="busyMe()">
            Busy!
          </ion-fab-button>
        </ion-fab>
</ion-content>
