<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>googleSignIn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-button (click)="login()" >
        Sign in with google
      </ion-button>
      <hr>
      <ion-button (click)="logout()" >
        Sign out google
      </ion-button>
      <hr>
      <ion-item *ngIf="name" >
        <ion-avatar slot="start">
          <img [src]="imageUrl">
        </ion-avatar>
        <ion-label>
          <h3> {{name}} </h3>
          <p>{{email}}</p>
        </ion-label>
      </ion-item>
      <div class="g-signin2" data-onsuccess="onSignIn"></div>

</ion-content>