<!-- <ion-header>
  <ion-toolbar>
    <ion-title>sygicClone</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content> -->
  <div class="header">
    <div class="menu">
      <ion-menu-button color="light"></ion-menu-button>
    </div>
    <div class="arrow">
      <ion-icon name="arrow-round-up"> </ion-icon>
    </div>
    <div class="info">
      <!-- <h1>Folgen sie dem straßenverlauf</h1> -->
      <h1>Follow the road</h1>
    </div>
  </div>
  <div class="left-nav">
    <div class="raisedbox warn">
      <ion-icon name="car"> </ion-icon>
      <p>5 min</p>
    </div>
    <div class="raisedbox">
      <ion-icon name="paw"> </ion-icon>
      <p>5,5km</p>
    </div>
    <div class="raisedbox">
      <ion-icon name="color-fill"> </ion-icon>
      <p>5,7km</p>
    </div>
    <div class="raisedbox">
      <ion-icon name="bed"> </ion-icon>
      <p>{{fps}}fps</p>
    </div>
  </div>
  <canvas #globeCanvas id="globeCanvas"></canvas>
  <div class="footer">
    <div class="raisedbox">
      <ion-icon name="pin"> </ion-icon>
    </div>
    <div>
        <h2>10:18</h2>
        <p>31 min</p>
    </div>
    <div>
        <h2>41</h2>
        <p>km</p>
    </div>
    <div class="raisedbox">
      <ion-icon name="more"> </ion-icon>
    </div>
  </div>
<!-- </ion-content> -->
