.raisedbox { 
    font-size: 2rem;
    color: #3385ff;
    padding: 4px;
    margin: 0.5rem;
    text-align: center;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 4px;
    p {
        font-size: 1rem;
        margin: 0;
        margin-top: -0.75rem;
    }
}

.warn {
    color: #f36507;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    background-color: #3385ff;
    font-size: 2rem;
    font-weight: 700;
    color: rgba(255,255,255,0.9);
    padding: 4px;
    .arrow {
        border-width: 0 1px;
        border-style: solid;
        text-align: center;
        margin: 0 4px;
        flex: 0;
    }
    .info{
        flex: auto;
        margin: 0 4px;
        text-align: center;
        h1 {
            margin: 0;
            font-size: 1rem;
        }
    }
}

.left-nav {
    position: absolute;
    top: 4rem;
}

.footer {
    position: absolute;
    bottom:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4px;
    background-color: #ddddff;
    div {
        text-align: center;
        // margin: 4px;
        ion-icon {
            padding-bottom: -0.5rem;
        };
        flex: 0;
        h2 {
            margin: 0;
        };
        p{
            margin: 0;
        }
    };
    .raisedbox {
        // margin: 4px;
        font-size: 2.5rem;
        line-height: 0.5;
        margin: 2px;
    }
}