<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <!-- <ion-img src="/assets/shapes.svg"></ion-img> -->
    <ion-card-header>
      <!-- <ion-card-subtitle>Get Started</ion-card-subtitle> -->
      <ion-card-title>
        <a href="https://docs.google.com/spreadsheets/d/1mEfskiHwgyK966XavOCYQB9BX07whFCLZYrgBuZwbpQ/edit?usp=sharing">
          Capacitor Feature
        </a >
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- <ion-grid>
      <ion-row>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid> -->
      <table>
        <!-- <caption>Capacitor Features</caption> -->
        <thead>
          <tr>
            <th rowspan="2">No</th>
            <th rowspan="2">Feature</th>
            <!-- <th colspan="5">PWA</th> -->
            <th colspan="4">PWA</th>
            <!-- <th colspan="3">Native</th> -->
            <th colspan="2">Native</th>
            <!-- <th rowspan="2">Note</th> -->
          </tr>
          <tr>
            <th><ion-icon src="assets/svg/chrome.svg"></ion-icon>(Mac)</th>
            <th><ion-icon src="assets/svg/firefox.svg"></ion-icon>(Mac)</th>
            <th><ion-icon src="assets/svg/safari.svg"></ion-icon>(Ios)</th>
            <th>
              <ion-icon src="assets/svg/chrome.svg"></ion-icon>(<ion-icon
                src="assets/svg/android.svg"
              ></ion-icon
              >)
            </th>
            <!-- <th>Library</th> -->
            <th><ion-icon src="assets/svg/appleinc.svg"></ion-icon></th>
            <th><ion-icon src="assets/svg/android.svg"></ion-icon></th>
            <!-- <th>Library</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let feature of features; let idx = index">
            <td>{{ idx }}</td>
            <td class="feature-what">
              <a [href]="feature.url">{{ feature.what }}</a>
            </td>
            <td *ngIf="feature.chromeMacStatus" class="ok">
              <ion-icon name="checkmark"></ion-icon>
            </td>
            <td *ngIf="!feature.chromeMacStatus" class="nok">
              {{ feature.chromeMacNote }}
            </td>
            <td *ngIf="feature.firefoxMacStatus" class="ok">
              <ion-icon name="checkmark"></ion-icon>
            </td>
            <td *ngIf="!feature.firefoxMacStatus" class="nok">
              {{ feature.firefoxMacNote }}
            </td>
            <td *ngIf="feature.safariIosStatus" class="ok">
              <ion-icon name="checkmark"></ion-icon>
            </td>
            <td *ngIf="!feature.safariIosStatus" class="nok">
              {{ feature.safariIosNote }}
            </td>
            <td *ngIf="feature.chromeAndroidStatus" class="ok">
              <ion-icon name="checkmark"></ion-icon>
            </td>
            <td *ngIf="!feature.chromeAndroidStatus" class="nok">
              {{ feature.chromeAndroidNote }}
            </td>
            <!-- <td [ngClass]="feature.chromeMacStatus? 'ok': 'nok'">{{feature.pwaLibrary}}</td> -->
            <td *ngIf="feature.iosStatus" class="ok">
              <ion-icon name="checkmark"></ion-icon>
            </td>
            <td *ngIf="!feature.iosStatus" class="nok">
              {{ feature.iosNote }}
            </td>
            <td *ngIf="feature.androidStatus" class="ok">
              <ion-icon name="checkmark"></ion-icon>
            </td>
            <td *ngIf="!feature.androidStatus" class="nok">
              {{ feature.androidNote }}
            </td>
            <!-- <td [ngClass]="feature.chromeMacStatus? 'ok': 'nok'">{{feature.nativeLibrary}}</td> -->
            <!-- <td [ngClass]="feature.chromeMacStatus? 'ok': 'nok'">{{feature.note}}</td> -->
          </tr>
        </tbody>
      </table>
      <p>N/A = Not Available</p>
      <p>N/Y = Not Yet (Skipped)</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item href="https://pwa.waikiindonesia.com/">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>PWA Version</ion-label>
    </ion-item>
    <ion-item href="https://docs.google.com/spreadsheets/d/1mEfskiHwgyK966XavOCYQB9BX07whFCLZYrgBuZwbpQ/edit?usp=sharing" >
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Feature Supported in Detail</ion-label>
    </ion-item>

  </ion-list>
</ion-content>
