.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
table {
  // display: grid;
  overflow-x: auto;
  thead{
    background-color: #4285F4;
    color: rgba(255, 255, 255, 0.9);
  }
  tbody{
    color: rgba(0, 0, 0, 0.7);
    td {
      text-align: center;
    }
    .feature-what {
      text-align: right;
    }
  }
}

table, th, td {
  border: 1px solid rgb(183, 208, 250) ;
  padding: 4px;
  // border-color: rgba(0, 0, 0, 0.7);
  border-collapse: collapse;
  ion-icon {
    vertical-align: middle;
  }
}

ion-card-content {
  overflow-x: auto;
}
.ok {
  background-color: rgb(15, 157, 88)
}
.nok {
  background-color: rgb(219, 68, 55)
}