<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>filesystem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="mkdir()" >
        mkdir
      </ion-button>
      <ion-button (click)="rmdir()" >
        rmdir
      </ion-button>
      <ion-button (click)="readdir()" >
        readdir
      </ion-button>
      <ion-button (click)="fileWrite()" >
        Write
      </ion-button>
      <ion-button (click)="fileRead()" >
        Read
      </ion-button>
      <ion-button (click)="fileAppend()" >
        Append
      </ion-button>
      <ion-button (click)="fileDelete()" >
        Delete
      </ion-button>
      <ion-button (click)="stat()" >
        Stat
      </ion-button>
      <ion-button (click)="getUri()" >
        Get URI
      </ion-button>
      <ion-button (click)="directoryTest()" >
        Directory Test
      </ion-button>
      <hr><hr>
      <!-- <ion-input [(ngModel)]="cachePath" placeholder="cachePath">
      </ion-input> -->
      <ion-button (click)="readCachedir()" >
        List Cache
      </ion-button>
      <ion-button (click)="delCached()" >
        Delete Cache
      </ion-button>
      <ion-list *ngIf="listFiles" >
      <ion-item *ngFor="let fileCached of listFiles" >
        <ion-label>
          <h3>Size: {{fileCached?.size}}</h3>
          <p>name: {{fileCached?.filename}}</p>
        </ion-label>
      </ion-item>
      </ion-list>
</ion-content>
