<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>faceRecognition</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div style="position: relative" class="margin">
        <!-- <img id="inputImg" src="" style="max-width: 800px;" />
        <canvas id="overlay" /> -->
        <!-- <img src="assets/images/bbt.jpg" alt="" id="bbtImage" #bbtImage style="max-width: 800px"> -->
        <video id="face" #face autoplay muted (play)="doDetection()"></video>
        <canvas id="overlay" #overlay ></canvas>
      </div>
      <ion-fab vertical="bottom" horizontal="center" slot="fixed">
          <ion-fab-button (click)="toggleDetection()">
            <ion-icon name="contact" *ngIf="!isDetecting" ></ion-icon>
            <ion-icon name="hand" *ngIf="isDetecting" ></ion-icon>
          </ion-fab-button>
        </ion-fab>
  <!-- <video id="face" #face></video>
  <img src="assets/images/bbt.jpg" alt="" id="bbtImage" #bbtImage>
  <canvas id="overlay" #overlay style="position: absolute"></canvas> -->
</ion-content>
